*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
text-align: center;
}
h2{
text-align: center;
}
body{
        margin: 12px 0;
    text-align:justify;
    background-image: url("https://avatars.mds.yandex.net/i?id=4c73dd11bff5e44f1e168a4edf3a6355b3753c22-5870056-images-thumbs&n=13");
    background-size: cover;
    font-family: monospace;
    color: white;
}
header{
width: 1080px;
padding: 16px;
margin: 10px auto;
border-radius: 32px;
backdrop-filter: blur(10px); 
}
main{
width: 1080px;
padding: 16px;
margin: 10px auto;
border-radius: 32px;
backdrop-filter: blur(10px);
}

.info{
display: flex;
gap: 16px;
}
.info img{
border-radius: 12px;
}
.info-short{
    display: flex;
    flex-direction: column;
}

footer{
    width: 1080px;
padding: 16px;
margin: 10px auto;
border-radius: 32px;
backdrop-filter: blur(10px);
}

.card{
    border: 1px solid rgba(255, 255, 255, 0.486);
    border-radius: 32px;
    padding: 16px;
}
.projects .card{
    margin: 12px 0;
}