* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    margin: 12px 0;
    text-align: center;
    background-color:rgb(201, 201, 201);;
    background-size: cover;
    font-family: monospace;
    color: white;
}

header {
    background-color:rgb(125, 125, 125);
    border-radius: 12px 12px 0 0;
    max-width: 1080px;
    padding: 16px;
    margin: auto;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    margin: 10px;
}
header nav{
    display: flex;
    gap: 16px;
}
header nav a{
    background-color:rgb(75, 75, 75);
    padding: 12px;
    border-radius: 12px;
}
header nav a:hover{
    background-color: rgb(50, 50, 50);
    transform: scale(1.02);
}
header nav a{
    color:rgb(0, 255, 170);
    text-decoration: none;
}

main {
    background-color:rgb(125, 125, 125);
    width: 1080px;
    padding: 16px 16px 0 16px;
    margin: auto;
    backdrop-filter: blur(10px);
}



.info {
    margin-bottom: 10px;
    display: flex;
    gap: 16px;
}
.info img:hover{
    transform: scale(1.02);
}

.info img {
    border-radius: 12px;
}

.info-short {
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color:rgb(75, 75, 75);
    border-radius: 12px;
}

footer {
    background-color:rgb(125, 125, 125);
    border-radius: 0 0 12px 12px ;
    width: 1080px;
    padding: 16px;
    margin: auto;
    backdrop-filter: blur(10px);
}
footer h1{
    margin-bottom: 10px;
}
footer li{
    color: rgb(0, 255, 170);
}
footer a{
    color: rgb(0, 255, 170);
}

.card {
      background-color:rgb(75, 75, 75);
    border-radius: 8px;
    padding: 16px;
}
.card:hover{
    background-color: rgb(50, 50, 50);
    transform: scale(1.02);
}

.projects .card {
    margin: 12px 0 0 0;
}
#perks{
    list-style: none;
}
.perk {
    font-size: 16px;
    font-weight: 900;
}
.info-short:hover{
    background-color: rgb(50, 50, 50);
    transform: scale(1.02);
}

@media (max-width: 1080px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .info img {
        width: 500px;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    .info img {
        width: 300px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 10px;
    }

    .info img {
        width: 200px;
    }

}

@media (max-width: 450px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 10px;
    }

    .info img {
        width: 100px;
    }

}